useDynLib(ADMM)
import(methods)
import(Rcpp)
import(ggplot2)

importFrom(rARPACK, svds, eigs_sym)
importClassesFrom(Matrix, dgCMatrix)
importMethodsFrom(Matrix, dim, as.matrix, coerce)

export(admm_lasso)
export(admm_enet)
export(admm_lad)
export(admm_bp)
export(admm_dantzig)
